@import "src/scss/settings";
@import "src/scss/helpers";

.contact {
  container-type: inline-size;
  container-name: contact;

  &__wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 120px;
    @include padding-sides;
    max-width: 1440px;
    width: 100%;
    text-align: center;
  }

  &__logo {
    position: absolute;
    top: 6%;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-height: 217px;
    width: auto;
    height: 100%;
  }

  &__title {
    font-family: $ff-b;
    font-size: $fs-34;
    line-height: 46px;
    color: $black;

    &--primary {
      color: $blue;
    }
  }

  &__description {
    margin: 112px auto 0;
    font-family: $ff-r;
    font-size: $fs-18;
    line-height: 32px;
    max-width: 800px;
  }

  &__button {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    max-width: 225px;
    height: 65px;
    margin: 80px auto 0;
    color: $white;
    background-color: $blue;
    text-decoration: none;

    @include hover-animation($clr-white-hover, all .2s ease);

    &-text {
      font-family: $ff-b;
      font-size: $fs-13;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &-icon {
      display: block;
      margin: auto;

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 20px;
        border-left: 2px solid $white;
      }
    }
  }
}

@container contact (min-width: 768px) {
  .contact {

    &__wrapper {
      padding-top: 150px;
      padding-bottom: 160px;
    }

    &__title {
      font-size: $fs-36;

      &--primary {
        font-size: $fs-68;
        line-height: 78px;
      }
    }

    &__logo {
      top: 10%;
    }
    &__description {
      font-size: $fs-26;
      line-height: 42px;
    }

    &__button {
      max-width: 268px;
      margin: 100px auto 0;

      &-text {
        font-size: $fs-16;
        letter-spacing: 1.17px;
      }

      &-icon {
        width: 25px;
        height: 25px;
      }
    }
  }
}