@import "../config/settings";
@import "../helpers/helpers";

.contact__button {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 225px;
  height: 65px;
  margin: 80px auto 0;
  color: $white;
  background-color: $blue;
  text-decoration: none;

  @include hover-animation($clr-white-10-hover, all .2s ease, 100%);

  &-text {
    font-weight: $ff-sb;
    font-size: $fs-13;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &-icon {
    display: block;
    margin: auto;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 20px;
      border-left: 2px solid $white;
    }
  }

  &--white {
    margin: 0;
    color: $blue;
    background-color: $white;
    border: 1px solid $border-grey;
    @include hover-animation($clr-blue-hover, all .2s ease, 100%);

    .contact__button-icon-wrapper {
      border-left: 1px solid $border-grey;
    }

    .contact-mail {
      stroke: $blue;
    }
  }
}

@media (min-width: 768px) {
  .contact__button {
    max-width: 268px;
    margin: 100px auto 0;

    &-text {
      font-size: $fs-16;
      letter-spacing: 1.17px;
    }

    &-icon {
      width: 25px;
      height: 25px;
    }

    &--white {
      max-width: 300px;
    }
  }
}
