@import "../config/settings";
@import "../helpers";

.hobbys {
  container-type: inline-size;
  container-name: hobbys;

  &__wrapper {
    margin: 0 auto 0;
    padding-top: 80px;
    @include padding-sides;
    max-width: 1160px;
  }

  &__title {
    font-family: $ff-b;
    font-size: $fs-34;
    line-height: 44px;
    color: $black;

    &--primary {
      display: block;
      color: $blue;
    }
  }

  &__description {
    margin-top: 40px;
    font-family: $ff-l;
    font-size: $fs-17;
    line-height: 1.6;
  }

  &__grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    row-gap: 24px;
    padding: 64px 0 40px;
    border-bottom: 1px solid $border-grey;

    &-image {
      width: 50%;
      height: auto;
    }
  }
}
@container hobbys (min-width: 480px) {
  .hobbys {
    &__wrapper {
    }
    &__description {
      margin-top: 0;
    }
  }
}
@container hobbys (min-width: 768px) {
  .hobbys {

    &__wrapper {
      padding-top: 120px;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 16px;
    }

    &__title {
      font-size: $fs-68;
      line-height: 78px;
    }

    &__description {
      max-width: 640px;
      width: 43%;
      font-size: $fs-26;
      line-height: 42px;
    }
    &__grid {
      grid-template-columns: auto auto auto auto;
      padding: 120px 0 80px;
    }
  }
}