@import "src/scss/config/settings";
@import "src/scss/helpers/helpers";

.projects {
  @include margin-sides;
}

.projects-wrapper {
  margin-bottom: 80px;
}

.heading-small-wrapper {
  margin-top: 117px;
  text-align: end;
  border-right: 2px solid $blue;
  padding: 0 20px 0 0;
}

.heading-small {
  font-size: $fs-12;
  font-family: $ff-sb;
  letter-spacing: 2px;
  line-height: 15px;
  text-transform: uppercase;
}

.tilt {
  position: relative;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  transition: all 0.35s ease;

  + .tilt {
    margin-top: 34px;
  }
}

.tilt:hover .card-shadow {
  opacity: 1;
}

.card-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  filter: blur(20px);
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  transition: opacity 0.35s ease;
  opacity: 0;
}

.projects-card {
  z-index: 2;
  position: relative;
  width: 100%;
  padding: 41px;
  overflow: clip;
  transition: transform 0.35s ease-out;
  transform-style: preserve-3d;
}

.projects-card-title {
  max-width: 75%;
  font-family: $ff-b;
  font-size: $fs-22;
  color: $white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }

}

.projects-card-p {
  font-size: $fs-16;
  font-family: $ff-l;
  font-weight: 300;
  line-height: 24px;
  color: $white;
}

.projects-card-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
  width: 100%;
  aspect-ratio: 1/1;

  img {
    width: 100%;
    height: auto;
  }
}

.card-highlight {
  width: 90%;
  height: 130%;
  opacity: .1;
  filter: blur(75px);
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 20%;
}

.projects-category {
  display: none;
  padding: 10px 16px;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.14);
  font-size: $fs-13;
  font-family: $ff-b;
  color: $white;
}

.projects-btn-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 70px;
  gap: 24px;

  .contact__button {
    margin: 0;
    width: 100%;
  }

  .contact__button-text {
    margin: auto;
  }
}

@media (min-width: 480px) {
  .projects-card-title {
    font-size: $fs-32;
    margin-bottom: 56px;
    max-width: fit-content;
  }

  .projects-card-p {
    max-width: 400px;
    font-size: $fs-20;
    line-height: 34px;
  }
}

@media (min-width: 768px) {
  .projects-wrapper {
    margin-bottom: 118px;
  }

  .heading-small-wrapper {
    margin-top: 185px;
    border-right: 4px solid $blue;
  }

  .heading-small {
    font-size: $fs-17;
  }

  .tilt + .tilt {
    margin-top: 120px;
  }

  .projects-card {
    display: flex;
    flex-direction: column;
    height: 847px;
    padding: 80px 50px 50px 50px;
  }

  .projects-card-title {
    font-size: $fs-38;
    order: 1;
  }

  .projects-card-p {
    margin-bottom: 32px;
    order: 2;
  }

  .projects-category-wrapper {
    order: 3;
  }

  .projects-category {
    text-transform: uppercase;
  }

  .projects-card-img-wrapper {
    order: 4;
    height: 100%;
    aspect-ratio: unset;
  }

  .projects-category {
    display: inline;
  }

  .projects-btn-wrapper {
    margin-top: 160px;
  }
}

@media (min-width: 998px) {
  .projects {
    display: flex;
    justify-content: center;
  }

  .projects-wrapper {
    max-width: 980px;
    width: 100%;
  }

  .heading-small-wrapper {
    margin-top: 250px;
    border-right: 4px solid $blue;
    padding: 5px 20px 2px 0;
  }

  .tilt,
  .projects-card {
    width: 100%;
    height: 520px;
  }

  .tilt + .tilt {
    margin-top: 120px;
  }
  .projects-card-p {
    margin-bottom: 80px;
  }
  .projects-card-img-wrapper {
    position: absolute;
    width: 60%;
    top: 0;
    right: -5%;
    margin-top: 0;

    img {
      width: 80%;
    }
  }
  .projects-btn-wrapper {
    justify-content: center;
    gap: 32px;
  }
}