@import "src/scss/config/settings";
@import "src/scss/helpers/helpers";

.projects {
  @include margin-sides;
  scroll-margin-top: 5rem;
}

.projects-wrapper {
  margin-bottom: 80px;
}

.heading-small-wrapper {
  margin-top: 117px;
  text-align: end;
  border-right: 2px solid $blue;
  padding: 0 20px 0 0;
}

.heading-small {
  font-size: $fs-12;
  font-weight: $ff-sb;
  letter-spacing: 2px;
  line-height: 15px;
  text-transform: uppercase;
}

.tilt {
  text-decoration: none;
}

.tilt-wrapper {
  position: relative;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  transition: all 0.35s ease;

  + .tilt-wrapper {
    margin-top: 34px;
  }
}

.tilt-wrapper:hover .card-shadow {
  opacity: 1;
}

.card-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  filter: blur(20px);
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  transition: opacity 0.35s ease;
  opacity: 0;
}

.projects-card {
  z-index: 2;
  position: relative;
  width: 100%;
  padding: 41px;
  overflow: clip;
  transition: transform 0.35s ease-out;
  transform-style: preserve-3d;
}

.projects-card-title {
  max-width: 75%;
  font-weight: $ff-b;
  font-size: $fs-22;
  color: $white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }

}

.projects-card-p {
  font-size: $fs-16;
  font-weight: 300;
  line-height: 24px;
  color: $white;
}

.projects-card-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //aspect-ratio: 1/1;

}

.p1 {
  margin-top: 100px;
  height: 167px;

  :first-child {
    position: absolute;
    max-width: 125%;
    height: auto;
    top: auto;
    bottom: -15%;
    left: -32%;
    right: auto;
  }

  :last-child {
    position: absolute;
    top: auto;
    bottom: -16%;
    left: auto;
    right: -20%;
    max-width: 59%;
    height: auto;
  }
}

.p2 {
  height: 167px;

  :first-child {
    position: absolute;
    max-width: 125%;
    height: auto;
    top: auto;
    bottom: 0%;
    right: -40%;
  }

  :last-child {
    position: absolute;
    max-width: 25%;
    height: auto;
    top: 15%;
    right: 50%;
    bottom: auto;
    left: auto;
  }
}

.p3 {
  padding-bottom: 80px;
  height: 260px;

  :first-child {
    position: absolute;
    max-width: 130%;
    height: auto;
    top: auto;
    bottom: -36%;
    right: -25%;
  }
}

.p4 {
  height: 200px;

  :first-child {
    position: absolute;
    max-width: 128%;
    height: auto;
    top: auto;
    bottom: -55%;
    right: -10%;
  }
}

.card-highlight {
  width: 90%;
  height: 130%;
  opacity: .1;
  filter: blur(75px);
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 20%;
}

.card-bg-1 {
  z-index: -1;
  position: absolute;
  max-width: 200%;
  height: auto;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.card-bg-2 {
  z-index: -1;
  position: absolute;
  max-width: 165%;
  height: auto;
  top: auto;
  bottom: -5%;
  left: -16%;
  right: auto;
}

.projects-category {
  display: none;
  padding: 10px 16px;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.14);
  font-size: $fs-13;
  font-weight: $ff-b;
  color: $white;
}

.projects-btn-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 70px;
  gap: 24px;

  .contact__button {
    margin: 0;
    width: 100%;
    order: 2;
  }

  .contact__button--white {
    order: 1;
  }

  .contact__button-text {
    margin: auto;
  }
}

@media (min-width: 480px) {
  .projects-card-title {
    font-size: $fs-32;
    margin-bottom: 56px;
    max-width: fit-content;
  }

  .projects-card-p {
    max-width: 400px;
    font-size: $fs-20;
    line-height: 34px;
  }

  .p1 {
    margin-top: 0;
    height: 366px;

    :first-child {
      max-width: 112%;
      left: -12%;
    }

    :last-child {
      right: -24%;
    }
  }

  .p2 {
    height: 255px;

    :first-child {
      max-width: 110%;
      top: 5%;
      bottom: auto;
      right: -20%;
    }

    :last-child {
      right: auto;
      top: 7%;
      left: 26%;
    }
  }

  .p3 {
    height: 360px;

    :first-child {
      max-width: 110%;
      bottom: -60%;
      right: -15%;
    }
  }

  .p4 {
    height: 320px;

    :first-child {
      max-width: 110%;
      bottom: -30%;
    }
  }

  .card-bg-1 {
    bottom: -3%;
  }

  .projects-btn-wrapper {
    .contact__button {
      order: 1;
    }

    .contact__button--white {
      order: 2;
    }
  }
}

@media (min-width: 768px) {
  .projects-wrapper {
    margin-bottom: 118px;
  }

  .heading-small-wrapper {
    margin-top: 185px;
    border-right: 4px solid $blue;
  }

  .heading-small {
    font-size: $fs-17;
  }

  .tilt-wrapper + .tilt-wrapper {
    margin-top: 120px;
  }

  .projects-card {
    display: flex;
    flex-direction: column;
    height: 847px;
    padding: 80px 50px 50px 50px;
  }

  .projects-card-title {
    font-size: $fs-38;
    order: 1;
  }

  .projects-card-p {
    margin-bottom: 32px;
    order: 2;
  }

  .projects-category-wrapper {
    order: 3;
  }

  .projects-category {
    text-transform: uppercase;
  }

  .projects-card-img-wrapper {
    order: 4;
    height: 100%;
    aspect-ratio: unset;
  }

  .p1 {
    :first-child {
      max-width: 112%;
      left: 5%;
      bottom: 0;
    }

    :last-child {
      max-width: 100%;
      right: 0%;
      left: 68%;
      bottom: 0;
    }
  }

  .p3 {
    height: 300px;

    :first-child {
      max-width: 70%;
      bottom: -133%;
      right: -5%;
    }
  }

  .p4 {

    :first-child {
      max-width: 120%;
      bottom: -40%;
      right: 5%;
    }
  }

  .card-bg-1 {
    right: 13%;
  }

  .card-bg-2 {
    bottom: -7%;
    left: -22%;
  }

  .projects-category {
    display: inline;
  }

  .projects-btn-wrapper {
    margin-top: 160px;
  }
}

@media (min-width: 998px) {
  .projects {
    display: flex;
    justify-content: center;
    scroll-margin-top: -5rem;
  }

  .projects-wrapper {
    max-width: 980px;
    width: 100%;
  }

  .heading-small-wrapper {
    margin-top: 250px;
    border-right: 4px solid $blue;
    padding: 5px 20px 2px 0;
  }

  .tilt-wrapper,
  .projects-card {
    width: 100%;
    height: 520px;
  }

  .tilt-wrapper + .tilt-wrapper {
    margin-top: 120px;
  }

  .projects-card-p {
    margin-bottom: 80px;
  }

  .projects-card-img-wrapper {
    position: absolute;
    width: 60%;
    top: 0;
    right: -5%;
    margin-top: 0;
  }

  .p1 {
    :first-child {
      bottom: 5%;
      left: 0%;
    }

    :last-child {
      bottom: 4%;
      left: 65%;
    }
  }

  .p2 {
    :first-child {
      top: 17%;
      right: 7%;
    }

    :last-child {
      top: 21%;
      left: 6%;
    }
  }

  .p3 {
    height: 300px;

    :first-child {
      max-width: 90%;
      right: 3%;
      bottom: -150%;
    }
  }

  .p4 {

    :first-child {
      bottom: -25%;
      right: 15%;
    }
  }

  .card-bg-1 {
    z-index: -1;
    position: absolute;
    max-width: 200%;
    height: auto;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
  }

  .card-bg-2 {
    bottom: -21%;
    left: -3%;
  }

  .projects-btn-wrapper {
    justify-content: center;
    gap: 32px;
  }
}

@media (min-width: 1280px) {
  .p1 {
    :last-child {
      left: 59%;
    }
  }
}