$ff-l: AvertaStd-Light, sans-serif;
$ff-r: AvertaStd-Regular, sans-serif;
$ff-sb: AvertaStd-SemiBold, sans-serif;
$ff-b: AvertaStd-Bold, sans-serif;
$ff-black: AvertaStd-Black, sans-serif;
$fs-11: 0.6875em;
$fs-12: 0.75em;
$fs-13: 0.8125em;
$fs-14: 0.875em;
$fs-15: 0.9375em;
$fs-16: 1em;
$fs-17: 1.0625em;
$fs-18: 1.125em;
$fs-20: 1.25em;
$fs-22: 1.375em;
$fs-26: 1.625em;
$fs-32: 2em;
$fs-34: 2.125em;
$fs-36: 2.25em;
$fs-38: 2.375em;
$fs-52: 3.25em;
$fs-64: 4em;
$fs-68: 4.25em;

$white : #fff;
$light-grey : rgba(255, 255, 255, 0.64);
$border-grey : rgba(0, 0, 0, 0.2);
$grey : rgb(102, 95, 130);
$black : #0f0928;
$blue : #2b00d4;
$cyan : rgb(94, 195, 164);
$purple-l : rgb(95, 66, 129);
$purple-d : rgb(76, 37, 90);
$orange : rgb(207, 92, 55);

$clr-blue-hover : rgba(43, 0, 212, .05);
$clr-white-hover : rgba(255, 255, 255, .1);
$clr-dark-hover : rgba(2, 1, 7, .05);